@(listOfWords: List[domain.WordEntry])

@main("Welcome to Play") {
<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href='@routes.Assets.at("stylesheets/table.css")'/>
    </head>
    <body>
        <table class="flat-table">
            <tr>
                <th>Word</th>
                <th>Meaning</th>
                <th>book</th>
            </tr>
            @for( word <- listOfWords){
            <tr>
                <td>
                    <a target="_blank" href="http://dictionary.reference.com/browse/@word.word">
                        @word.word
                    </a>
                </td>
                <td>@word.meaning</td>
                <td>@word.book</td>
            </tr>
            }
        </table>
    </body>
</html>
}
